body{
  margin: 0;
  min-height: 100vh;

  background: #2F2E41;
}
.page{
  color: #C2C2C2;
  margin: 70px 100px auto;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
ul{
  display: flex;
  gap: 64px;
}
li{
  list-style: none;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 160px;
  text-align: center;
}
section{
  width: 620px;
  margin-bottom: 50px;
}
h1{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 60PX;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}
p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
span{
  color: #00BFA6;
}
footer{
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}
.line{
  margin: auto;
  border: 1px solid #00BFA6;
  width: 568px;
  margin-bottom: 25px;
}
.padlock{
  position: fixed;
  bottom: 0;
  left: 0;
}